################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignmnet1/.vs/Assignmnet1
/Assignmnet1/Assignmnet1/x64/Debug/Assignmnet1.tlog
/Assignmnet1/x64/Debug
/Assignment2/x64/Debug
/Assignment2/Assignment2/x64/Debug/Assignment2.tlog
/Assignment2/.vs/Assignment2
/Assignment3/.vs/Assignment3/v17
/Assignment3/Assignment3/x64/Debug/Assignment3.tlog
/Assignment4/.vs/Assignment4/v17
/Assignment4/Assignment4/x64/Debug/Assignment4.tlog
/Assignment6/.vs/Assignment6/v17
