################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignmnet1/.vs/Assignmnet1
/Assignmnet1/Assignmnet1/x64/Debug/Assignmnet1.tlog
/Assignmnet1/x64/Debug
